Package: com.karimo299.dontkillmymusic
Name: DontKillMyMusic
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak that prevents you from killing the app that is currently playing.
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
Version: 1.0.0
Installed-Size: 248
